---
const today = new Date();
---

<footer class="footer">
  <div class="content">
    &copy; {today.getFullYear()}
    <a href="https://www.github.com/yb6b">yb6b</a>. 源码以<a
      href="https://github.com/yb6b/yima/blob/main/LICENSE"
    >
      MIT
    </a>协议开源.
  </div>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
