---
const today = new Date();
---

<footer class="footer">
  <div class="content">
    &copy; {today.getFullYear()}
    <a href="https://www.github.com/yb6b" target="_blank">yb6b</a>. 
    源码以<a href="https://github.com/yb6b/yima/blob/main/LICENSE" target="_blank">
      MIT</a> 协议开源.
  </div>
</footer>

<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
