---
import BaseLayout from "@l/base/Layout.astro";
---

<BaseLayout title="逸码输入法" description="逸码输入法网站首页">
  <section class="hero is-info is-large">
    <div class="hero-head">
      <nav class="navbar">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item">
              <img
                src={import.meta.env.BASE_URL + 'assets/yi-cursive.svg'}
                alt="Logo"
              />
            </a>
            <span class="navbar-burger" data-target="navbarMenuHeroB">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenuHeroB" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item is-active"> Home</a>
              <a class="navbar-item"> Examples</a>
              <a class="navbar-item"> Documentation</a>
              <span class="navbar-item">
                <a class="button is-info is-inverted">
                  <span class="icon">
                    <i class="fab fa-github"></i>
                  </span>
                  <span>Download</span>
                </a>
              </span>
            </div>
          </div>
        </div>
      </nav>
    </div>

    <div class="hero-body">
      <div class="container has-text-centered">
        <p class="title">逸码输入法</p>
        <p class="subtitle">纯形二码顶</p>
      </div>
    </div>

    <div class="hero-foot">
      <nav class="tabs is-boxed is-fullwidth">
        <div class="container">
          <ul>
            <li class="is-active">
              <a>Overview</a>
            </li>
            <li>
              <a>Modifiers</a>
            </li>
            <li>
              <a>Grid</a>
            </li>
            <li>
              <a>Elements</a>
            </li>
            <li>
              <a>Components</a>
            </li>
            <li>
              <a>Layout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </section>
</BaseLayout>

<script defer>
  const navmore_ele = document.getElementById("navmore");
  const navbasic_ele = document.getElementById("navbasic");
  navmore_ele.addEventListener("click", () => {
    navbasic_ele.classList.toggle("is-active");
    navmore_ele.classList.toggle("is-active");
  });
</script>