---
import BaseLayout from "@l/base/Layout.astro";
import IndexCard from "@c/IndexCard.astro";
const baseurl = import.meta.env.BASE_URL;
---

<BaseLayout title="逸码输入法" description="逸码输入法网站首页">
  <section
    class="hero is-medium is-light"
    style="background-image: linear-gradient(0deg, #fff, #edb9ee);"
  >
    <div class="hero-body has-text-centered">
      <figure class="image is-64x64 m-auto">
        <img
          src={import.meta.env.BASE_URL + "assets/yi-cursive.svg"}
          alt="逸码图标"
        />
      </figure>
      <h1 class="title has-text-wide has-text-danger-dark mt-8">逸码输入法</h1>
      <h2 class="subtitle has-text-grey">乱序纯形二码顶功输入方案</h2>
    </div>
  </section>
  <article class="container is-max-desktop p-4 content">
    <p>
      逸码输入法是用智能算法生成的，手感、效率极佳。得力于Rime平台，逸码可以方便地打词、打句。你可以
      <a href="https://jq.qq.com/?_wv=1027&k=5V71KdOJ" target="_blank"
        >加入我们的 QQ 群</a
      >
      ，或者<a href="http://yima.ysepan.com/" target="_blank">访问网盘</a>
      ，或者从 <a href="https://github.com/yb6b/yima/releases" target="_blank">
        Github Release 页</a
      > 下载所需的文件。
    </p>
    <p>
      逸码有多个版本，各自有不同的侧重：字根数量、按键数量、优化算法、拆分方式等。我们推荐
      <a href={baseurl + "V20"}> 逸码V20</a>版本，它的拆分更准确、更易学。
    </p>
    <p>
      逸码的打字规则是极简的：先打两个字根、再依次打剩余部分的笔画。各版本在细节上略有不同。
    </p>
  </article>
  <div class="tile is-ancester">
    <div class="tile is-vertical">
      <div class="tile is-parent">
        <div class="tile is-child">
          <IndexCard
            label="逸码 V20"
            href="V20"
            tags={["大字根", "字根归类", "26键"]}
          >
            专门优化了前500字，拆分错误更少。使用虎码的算法。
          </IndexCard>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child">
          <IndexCard
            label="逸码 VV9 · 27键"
            href="VV9-27"
            tags={["大字根", "27键"]}
          >
            退火算法。大口吃肉。
          </IndexCard>
        </div>
        <div class="tile is-child">
          <IndexCard
            label="逸码 VV9 · 26键"
            href="VV9-26"
            tags={["大字根", "26键"]}
          >
            群花“橘里橘气”专享。
          </IndexCard>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child">
          <IndexCard
            label="逸码 VV4 · 27键"
            href="VV4-27"
            tags={["字根少", "27键"]}
          >
            Mogu 大佬的退火算法。加权当量极低。
          </IndexCard>
        </div>
        <div class="tile is-child">
          <IndexCard
            label="逸码 VV4 · 26键"
            href="VV4-26"
            tags={["少字根", "26键"]}
          >
            退火算法。
          </IndexCard>
        </div>
      </div>
      <div class="tile is-parent">
        <div class="tile is-child">
          <IndexCard label="晨逸" href="chenyi" tags={["两笔", "26键"]}>
            乱序二笔、26键
          </IndexCard>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
