---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../config";
console.log(Astro.url);
---

<header style="position:fixed;background-color: aliceblue;">
  <h2>
    <img
      src="/yima/assets/yi-cursive.svg"
      alt="LOGO"
      width="28px"
      style="display:inline-block;position:relative;top:4px;margin-right:2rem;"
    />{SITE_TITLE}
  </h2>
  <nav>
    <HeaderLink href="/">说明</HeaderLink>
    <HeaderLink href="/blog/">日志</HeaderLink>
    <HeaderLink href="/about/">字根练习</HeaderLink>
    <HeaderLink href="/about/">单字练习</HeaderLink>
    <HeaderLink href="/about/">拆分查询</HeaderLink>
    <HeaderLink href="https://github.com/yb6b/yima" target="_blank">
      GitHub
    </HeaderLink>
  </nav>
</header>
<div style="height:5rem;"></div>
<style>
  header {
    margin: 0em 0 2em;
  }
  h2 {
    margin: 0.5em 0;
  }
</style>
