---
export interface Props {
  label: string;
  href: string;
  tags: string[];
  hightlight?: boolean;
}
const { label, href, tags } = Astro.props;
const hightlight = !!Astro.props.hightlight;
const absHref = import.meta.env.BASE_URL + href;
---

<article class:list={["message mx-4 my-1", { "is-danger": hightlight }]}>
  <a href={absHref} style="text-decoration: none;">
    <div class="message-body">
      <div class="is-4 title has-text-wide">
        {label}
      </div>
      {
        tags.map((e) =>
          e === "26键" || e === "27键" ? (
            <div class="tag is-info is-rounded mr-2">{e}</div>
          ) : (
            <div class="tag is-success is-rounded mr-2">{e}</div>
          )
        )
      }
      <p class="mt-3">
        <slot />
      </p>
    </div>
  </a>
</article>
