---
export interface Props {
  label: string;
  href: string;
}
const { label, href } = Astro.props;
const absHref = import.meta.env.BASE_URL + href;
---

<article class="message column m-4">
  <a href={absHref} style="text-decoration: none;">
    <div class="message-body">
      <h2 class="title has-text-wide">逸码 {label}</h2>
      <slot />
    </div>
  </a>
</article>
