---
/**
 * 主要的布局
 */
import BaseHead from "@c/BaseHead.astro";
import Footer from "@c/Footer.astro";
import Header from '@c/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

---

<!DOCTYPE html>
<html lang="zh-hans-CN">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
