---
import BaseLayout from "./base/Layout.astro";
import HeroNavBar from "./base/herobar/Common.astro";

export interface Props {
  title: string;
  thisHref: string;
}

const { title, thisHref } = Astro.props;
const description = "大字根、字根归类、优化常用字";
const genLink = (label: string, relativeHref: string) => {
  return {
    label,
    href: import.meta.env.BASE_URL + relativeHref,
  };
};
---

<BaseLayout title={title} description={description}>
  <HeroNavBar
    title={title}
    subt={description}
    link={[
      genLink("说明书", "V20"),
      genLink("字根练习", "V20/zigen"),
      genLink("单字练习", "V20/danzi"),
      genLink("反查", "V20/search"),
    ]}
  />
  <div class="container is-max-desktop p-5 mt-2 content">
    <slot />
  </div>
</BaseLayout>
